body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


fieldset {
    width: 48%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 100px;
    margin-right: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    display: block;
    margin: 0 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.step {
    display: none; 
}

.botones-acciones {
    display: flex; 
    justify-content: center; 
}